body{
	background-color: #333;
}

.container{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: min-content;
    grid-template-areas:
    "name_photo name_photo professional professional professional professional professional professional"
    "name_photo name_photo professional professional professional professional professional professional"
    "personal personal professional professional professional professional professional professional"
    "personal personal professional professional professional professional professional professional"
    "personal personal professional professional professional professional professional professional"
    "personal personal professional professional professional professional professional professional";
    }

@media screen and (max-width: 1100px)
{
	.container{
		margin: 40px;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-auto-rows: min-content;
		grid-template-areas:
		"name_photo name_photo name_photo name_photo name_photo name_photo name_photo name_photo"
		"name_photo name_photo name_photo name_photo name_photo name_photo name_photo name_photo"
		"personal personal personal personal personal personal personal personal"
		"personal personal personal personal personal personal personal personal"
		"personal personal personal personal personal personal personal personal"
		"personal personal personal personal personal personal personal personal"
		"professional professional professional professional professional professional professional professional"
		"professional professional professional professional professional professional professional professional"
		"professional professional professional professional professional professional professional professional"
		"professional professional professional professional professional professional professional professional";
	}
}

@media screen and (min-width: 600px) and (max-width: 800px)
{
	.container{
		margin: 40px;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-auto-rows: min-content;
		grid-template-areas:
		"name_photo name_photo name_photo name_photo personal personal personal personal"
		"name_photo name_photo name_photo name_photo personal personal personal personal"
		"name_photo name_photo name_photo name_photo personal personal personal personal"
		"name_photo name_photo name_photo name_photo personal personal personal personal"
		"professional professional professional professional professional professional professional professional"
		"professional professional professional professional professional professional professional professional"
		"professional professional professional professional professional professional professional professional"
		"professional professional professional professional professional professional professional professional";
	}
}

.name_photo{
	padding-top: 20px;
    background-color: rgb(40, 105, 154);
    grid-area: name_photo;
    color: white;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.personal{
    background-color: rgb(50, 128, 188);
    grid-area: personal;
	padding: 10px;
}

.professional{
    grid-area: professional;
	background-color: #F8FFFB;
	padding-left: 10px;
}

.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
	border-radius: 70%;
}

.name{
    padding-top: 10px;
    text-align: center;
    font-family: Tahoma;
    font-size: 32;
    font-weight: bold;
}

.designation{
    padding-top: 10px;
    text-align: center;
    font-family: Tahoma;
    font-size: 22;
	padding-bottom: 20px;
	font-style: italic;
	padding-right: 10px;
}

.leftside-title{
    padding: 10px;
	padding-bottom: 0px;
    font-size: 20;
    font-weight: bold;
    font-family: Tahoma;
    color: white;
}

.leftside-content{
    padding: 10px;
	padding-bottom: 0px;
    font-size: 18;
    font-family: Tahoma;
    color: white;
	text-align: justify;
	line-height: 1.6;
}

.leftside-image{
	padding: 10px;
	background-color: rgb(40, 105, 154);
	border-radius: 50%;
}

.rightside-image{
	padding: 10px;
	background-color: rgb(40, 105, 154);
	border-radius: 50%;
}

.rideside-title{
    padding-left: 50px;
    padding-top: 10px;
    font-size: 16;
    font-family: Tahoma;
}

.rightside-content{
    padding:10px;
    font-size: 14;
    font-family: Tahoma;
}

.objective{
    padding: 10px;
    padding-bottom: 0px;
}

.skills{
	padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.contact{
	display: flex;
    padding: 10px;
}

.email{
	display: flex;
    padding: 10px;
}

.linkedin{
	display: flex;
    padding: 10px;
}

.right-text-image-align{
	display: flex;
	padding-left: 8px;
}

.education{
    padding: 10px;
}

.projects{
    padding: 10px;
}

.extra-curricular{
    padding: 10px;
}

.personal-details{
    padding: 10px;
	padding-bottom: 0px;
}

.leftside-heading{
    font-weight: bold;
    font-size: 16;
}

.content{
    padding-left: 0px;
    font-size: 18;
	line-height: 1.6;
	clear: left;
}

.rightside-heading{
    padding: 10px;
    padding-left: 35px;
    font-size: 20;
}

.left-image-align{
	color: white;
	font-size: 20;
	padding-left: 10px;
	padding-top: 5px;
}

.right-image-align{
	font-size: 24;
	padding-top: 10px;
	font-family: Tahoma;
	padding-left: 10px;
}

progress{
	width: 90%;
}

ul{
	font-size: 18;
	line-height: 1.6;
	list-style-type: none;
	padding: 0px;
}

li:before {
    content: "- ";
}

.date-align{
	float: right;
	padding-right: 10px;
    font-size: 18;
}

.content1{
    padding-left: 0px;
    font-size: 18;
	float: left;
}

.icon-style.fa-2x {
    color: white;
    background-color:rgb(40, 105, 154);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
}

.icon-style1.fa-1x {
    color: white;
    width: 30px;
    height: 30px;
    background-color: rgb(40, 105, 154);
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

.aling{
	padding-top: 10px;
    padding-bottom: 10px;
}
progress{
	background-color: rgb(50, 128, 188);
}
progress[value]::-webkit-progress-bar{
	background-color: white;
	width:100%;
	height:50%;
	
}

progress[value]::-webkit-progress-value{
	background-color: rgb(40,105,154);
}